@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Unica+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100;300;500;700&display=swap');

body {
  font-family: 'Noto Sans SC', sans-serif;
}

@media only screen and (max-width: 600px) {
  .mapContainer {
    display: none;
  }

  .navbar {
    display: none;
  }

  .propertiesCol {
    padding-right: 20px!important;
  }

  .properties {
    padding-top: 10%;
  }

  .aboutContent p {
    max-width: 100%!important;
  }

  .aboutContent .biggerText {
    max-width: 100%!important;
  }
}

button {
  background-color: #8e1fc2!important;
  border: 0!important;
  outline: none!important;
  color: #ffffff!important;
}

a {
  color: #8e1fc2;
}

a:hover {
  color: #8e1fc28a;
}

button:active {
  outline: none!important;
}

.navbar-light {
  background-color: #f0f0f0!important;
}

.navbar-text {
  padding-left: 10px!important;
  padding-right: 10px!important;
  cursor: pointer;
}

.navbar-text:hover {
  color: #8e1fc2;
}

.navbar-text span {
  color: #8e1fc2;
}

.navbar-text span:hover {
  color: #8e1fc275;
}

.hero {
  background-color: #f0f0f0;
  position: relative;
}

.hero .heroContentWrapper {
  position: absolute;
  top: 20%;
  left: 10%;
}

.hero img {
  width: 100%;
  height: 700px;
  border-radius: 16px;
}

.hero .biggerText {
  padding-right: 10%;
  color: #000;
}

.biggerText {
  font-size: 50px;
  color: black;
  font-weight: 300;
  line-height: 60px;
}

.veryBold {
  font-weight: 800;
}

.groupButton {
  margin-top:40px;
  margin-bottom:40px
}

.searchForm {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  background-color: #fff;
  padding: 10px;
  border-radius: 4px;
}

.searchForm input {
  width: 100%;
  border: none;
  padding: 10px;
  outline: none !important;
  font-weight: 300;
}

.hero .searchButton {
  width: 170px;
}

.intro {
  text-align: center;
  padding:5%
}

.logo {
  font-size: x-large;
  font-weight: 600;
}

.introCard {
  margin-top: 10%;
  text-align: left;
}

.roundBack {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: rgba(255, 105, 180, 0.219);
  margin-bottom: 15px;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 25px;
  color: hotpink;
}

.logo, .navbar-brand {
  font-family: 'Unica One', cursive;
  font-size: 40px;
}

.fadedBlue {
  color: rgb(96, 96, 255);
  background-color: rgba(0, 0, 255, 0.253);
}

.fadedGreen {
  color: rgb(28, 197, 28);
  background-color: rgba(0, 128, 0, 0.226);
}

.fadedOrange {
  color: orange;
  background-color: rgba(255, 166, 0, 0.336);
}

.bolderText {
  font-weight: 700;
  font-size: large;
}

.card-text {
  font-weight: 300;
  font-size: small;
}

.features {
  text-align: center;
  padding:5%
}

.features .card {
  text-align: left;
  border: none;
  margin-top: 10%;
}

.features .card-body {
  padding: 20px 0;
  font-size: small;
}

.footer {
  padding: 0;
  background-color: #f0f0f0;
}

.footerContainer {
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
}

.footerContainer p {
  font-size: small;
  font-weight: 300;
}

.footerContainer .heading {
  margin-bottom: 40px;
}

.footerContainer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footerContainer li {
  font-size: small;
  font-weight: 300;
  padding: 3px 0;
}

.socialWrapper {
  font-size: larger;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.socialWrapper .icon {
  padding-left: 20px!important;
}

.form {
  margin-top: 20%;
  margin-bottom: 20%;
}

.form .bolderText {
  margin-bottom: 10%;
  text-align: center;
}

.form label {
  font-size: small;
}

.form small {
  margin-top: 20px;
  text-align: center;
}

.mapContainer {
  height: 90vh;
}

.properties {
  background-color: #f0f0f0;
}

.item .card-title {
  color: #8e1fc2;
}

.listContainer {
  padding-left: 5%;
  height: 90vh;
  overflow: auto;
}

.propertySearch {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
}

.propertySearch input {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #f0f0f0;
  font-size: medium;
  font-weight: 300;
}

.propertySearch input:focus {
  outline: none;
  border: 2px solid #8e1fc2;
}

.filterRow {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}

.listItemsContainer {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.filterRow button {
  background-color: transparent!important;
  color: #8e1fc2!important;
  border: 1px solid #f0f0f0!important;
  outline: none!important;
  margin-right: 5px;
  min-width: 100px;
  font-size: smaller;
}

.dropdown-menu {
  border: none;
  border-radius: 0;
  padding-bottom: 0;
}

.dropdown-item {
  border-bottom: 1px solid #8e1fc263;
  font-weight: 300;
  padding-left: 5px;
}


.filterRow button:hover {
  background-color: #8e1fc2;
  border: 1px solid #8e1fc2;
  outline: none!important;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
  box-shadow:#8e1fc2;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  background-color: #8e1fc2;
  border: 1px solid #8e1fc2;
  outline: none!important;
}

.card-img, .card-img-top {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.item {
  border-radius: 8px;
  cursor: pointer;
}

.item .title { 
  font-weight: 700;
  margin-bottom: 10px;
}

.item .priceRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.item .statsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.item .stats {
  padding-left: 10px;
  font-size: small;
}

.item .stats span {
  color: #8e1fc2;
  font-size: medium;
}

.borderBtn {
  background-color: transparent!important;
  border: 1px solid #8e1fc2!important;
  color: #8e1fc2!important;
}

.bubble {
  position: relative;
  background: #8e1fc2;
  color: #FFFFFF;
  font-family: Arial;
  font-size: 20px;
  line-height: 35px;
  text-align: center;
  min-width: 100px;
  height: 35px;
  border-radius: 16px;
  padding: 0px;
  font-size: small;
}

.bubble:after {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  z-index: 1;
  border-style: solid;
  border-color: #8e1fc2 transparent;
  border-width: 10px 10px 0;
  bottom: -10px;
  left: 50%;
  margin-left: -10px;
}

.about {
  padding: 5%;
}

.aboutContent {
  text-align: center;
}

.aboutContent .biggerText {
  max-width: 50%;
  margin: 2% auto;
}

.aboutContent p {
  font-size: small;
  color: #404040;
  max-width: 50%;
  margin: 0 auto;
}

.aboutContent .bgWrapper {
  text-align: center;
}

.aboutContent .bgWrapper img {
  width: 300px;
}

.aboutUsExtra {
  margin-top: 5%;
}

.aboutUsExtra .boldText {
  margin: 20px 0;
  font-size: small;
  font-weight: 700;
}

.aboutUsExtra small {
  font-weight: 300;
}

.contact {
  background-color: #f0f0f0;
  padding: 5%;
}

.contact .contactCard {
  background-color: #ffffff;
  border-radius: 8px;
}

.contact .contactCard .left {
  background-color: #8e1fc2;
  border-radius: 8px;
  padding: 5%;
  color: #ffffff;
}

.contact .contactCard .left .biggerText {
  color: #ffffff;
  margin-bottom: 20px;
}

.contact .contactCard .left small {
  color: #f0f0f0;
}

.listItem {
  padding: 15px 0;
  font-weight: 300;
}

.listItem span {
  color: orange;
  font-size: larger;
  margin-right: 10px;
}

.socialRow {
  margin-top: 20%;
  display: flex;
  flex-direction: row;
}

.socialRow .icon {
  padding-right: 10px;
}

.contact .contactCard .right {
  padding: 5%;
}

.contact .contactCard .right input {
  border: none;
  border-bottom: 1px solid #8e1fc2;
  border-radius: 0;
  height: 50px;
  font-size: small;
}

.contact .contactCard .right label {
  color: #8e1fc2;
  font-size: small;
}

.contact .contactCard .right textarea {
  border: none;
  border-bottom: 1px solid #8e1fc2;
  border-radius: 0;
  font-size: small;
}

.contact .contactCard .right .title {
  font-size: medium;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
}

.contact .contactCard .right button {
  padding: 20px;
  margin-top: 20px;
  float: right;
}