@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Unica+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100;300;500;700&display=swap');

body {
  font-family: 'Noto Sans SC', sans-serif;
}

.navbar-light {
  background-color: #f0f0f0!important;
}

.navbar-text {
  padding-left: 10px!important;
  padding-right: 10px!important;
}

.hero {
  background-color: #f0f0f0;
  position: relative;
}

.hero .heroContentWrapper {
  position: absolute;
  top: 20%;
  left: 10%;
}

.hero img {
  width: 100%;
  height: 700px;
  border-radius: 16px;
}

.hero .biggerText {
  padding-right: 10%;
  color: #000;
}

.biggerText {
  font-size: 50px;
  color: black;
  font-weight: 300;
  line-height: 60px;
}

.veryBold {
  font-weight: 800;
}

.groupButton {
  margin-top:40px;
  margin-bottom:40px
}

.searchForm {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  background-color: #fff;
  padding: 10px;
  border-radius: 4px;
}

.searchForm input {
  width: 100%;
  border: none;
  padding: 10px;
}

.hero .searchButton {
  width: 170px;
}

.intro {
  text-align: center;
  padding:5%
}

.logo {
  font-size: x-large;
  font-weight: 600;
}

.introCard {
  margin-top: 10%;
  text-align: left;
}

.roundBack {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: rgba(255, 105, 180, 0.219);
  margin-bottom: 15px;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 25px;
  color: hotpink;
}

.logo, .navbar-brand {
  font-family: 'Unica One', cursive;
  font-size: 40px;
}

.fadedBlue {
  color: rgb(96, 96, 255);
  background-color: rgba(0, 0, 255, 0.253);
}

.fadedGreen {
  color: rgb(28, 197, 28);
  background-color: rgba(0, 128, 0, 0.226);
}

.fadedOrange {
  color: orange;
  background-color: rgba(255, 166, 0, 0.336);
}

.bolderText {
  font-weight: 700;
  font-size: large;
}

.card-text {
  font-weight: 300;
}

.features {
  text-align: center;
  padding:5%
}

.features .card {
  text-align: left;
  border: none;
  margin-top: 10%;
}

.features .card-body {
  padding: 20px 0;
  font-size: small;
}

.footer {
  padding: 0;
  background-color: #f0f0f0;
}

.footerContainer {
  padding-top: 5%;
}

.footerContainer p {
  font-size: small;
  font-weight: 300;
}

.footerContainer .heading {
  margin-bottom: 40px;
}

.footerContainer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footerContainer li {
  font-size: small;
  font-weight: 300;
  padding: 3px 0;
}

.socialWrapper {
  font-size: larger;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.socialWrapper .icon {
  padding-left: 20px!important;
}

.form {
  margin-top: 20%;
  margin-bottom: 20%;
}

.form .bolderText {
  margin-bottom: 10%;
  text-align: center;
}

.form label {
  font-size: small;
}

.form small {
  margin-top: 20px;
  text-align: center;
}